*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(62, 12, 81);
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  
  background-color: white;
  margin: 50px auto;

}
.title{
  font-size: 1.5em;
  font-weight: lighter;
}
.info{
 
}

.single-question{
  border: 1px solid rgba(0,0,0,0.4);
  margin: 30px 10px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.4);

}
.single-question header{
  display: flex;
  justify-content: space-around;
  margin: 10px 10px ;
}
.single-question p{
  margin: 10px 10px;
}
.show-answer{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid black;
  font-size: 2em;
  color: rgb(168, 9, 9);
  display: flex;
 align-items: center;
 justify-content: center;
}



